
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  /* background-image: url("images/pexels-vova-krasilnikov-2796145.jpg"); */
}
.form {
  color: white;
  text-align: center;
}
#search-field {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#submit {
  margin-left: 10px;
}
label {
  color: white;
  margin-right: 5px;
}
#card-holder {
  background-color: rgba(39, 38, 38, 0.76);
  /* background-color: rgba(245, 245, 245, 0.543); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 9px;
  margin: 10px 150px 10px 150px;
  /* padding: 10px; */
}

.card {
  background-color: rgb(15, 15, 15);
  display: flex;
  width: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: center; */
  /* border: 2px solid green; */
  margin: 10px;
  /* flex-basis: 150px; */
}
.title {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 3px;

}

.image-div {
  display: flex;
  justify-content: center;
  width: 100px;
}
img {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  /* width: 100px;
  height: 100px; */
  height: 100%;
}
